@use "variables";

.grid-container {
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem 1rem;

    @media screen and (min-width: variables.$breakpoint-width) {
        padding: 2rem 1rem;
    }
}
