// colors
$main-bg-color: #121213;
$main-text-white: #ffffff;
$main-gray: #3a3a3c;
$key-bg: #818384;

// heights
$navbar-height: 55px;

// breakpoint
$breakpoint-height: 775px;
$breakpoint-width: 450px;

// game color status
$green-correct: #de1b22;
$yellow-close: #032444;
$grey-incorrect: #3a3a3c;
